rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow all reads and writes in emulator
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
